* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    background-color: rgb(15, 35, 53);
    position: relative;
}
.first {
    box-shadow: 0.4vw 0.3vh 0.3vw 0.4vw;
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: rgb(63, 99, 141);
    justify-content: space-around;
    align-items: center;
}
.left {
    font-size: 1.6rem;
    color: white;
}
nav {
    display: flex;
}
#bar {
    align-items: center;
    justify-content: center;
    display: flex;
}
#bar li {
    cursor: pointer;
    list-style: none;
    margin: 0 2.3vw;
}
nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}
#bar a:hover {
    font-size: 1.2rem;
    color: rgb(157, 157, 229);
}
#buttonr {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.4vw;
    border: 0.2vw solid black;
    background-color: rgb(41, 6, 73);
    color: white;
    height: 3.3vh;
    width: 8vw;
}
#buttonr:hover {
    font-weight: 500;
    font-size: 1.2rem;
}
.second {
    justify-content: space-around;
    display: flex;
}
.intro {
    font-size: 3.3rem;
    color: white;
    margin: 4.8vh 0;
    height: 30vh;
    width: 50vw;
}
.name {
    font-weight: 600;
    color: rgb(229, 155, 229);
}
.image img {
    margin: 3vh 0;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 35vw;
}
.heading {
    text-decoration: underline;
    display: flex;
    color: white;
    font-size: 1.5rem;
    margin: 3vh;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
.heading img {
    height: 9vh;
    width: 9vw;
}
.third {
    margin: 0 2.3vw;
    justify-content: space-around;
    height: 30vh;
    display: flex;
}
#edu {
    position: relative;
    display: flex;
    justify-content: space-between;
}
#edu:hover {
    box-shadow: 0.3vw 0.3vh 0.3vw 0.3vw;
}
.box1 {
    margin: 0 2.3vw;
    height: 16vh;
    width: 28vw;
}
.box1:hover {
    box-shadow: 0.3vw 0.3vh 0.3vw 0.3vw;
}
.box1 img {
    margin: 0.5vh 1vw;
    width: 28vw;
    height: 10vh;
}
#school {
    list-style: none;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgb(92, 220, 126);
}
.box2 {
    background-color rgb(15, 31, 25);
    margin: 0 2.3vw;
    height: 18vh;
    width: 28vw;
}
.box2:hover {
    box-shadow: 0.3vw 0.3vh 0.3vw 0.3vw;
}
.box2 img {
    margin: 0.5vh 1vw;
    height: 10vh;
    width: 28vw;
    
}
#college {
    list-style: none;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgb(248, 94, 94);
}
.box3 {
    box-shadow: 0.3vw 0.3vh 0.3vw 0.3vw;
    position: relative;
    font-weight: 600;
    font-size: 2rem;
    height: 30vh;
    width: 30vw;
}
#skills {
    margin: 0.8vh;
    width: 80vw;
    height: 30vh;
    list-style: none;
    font-size: 2rem;
}
#skills li a {
    font-size: 1.5rem;
    color: rgb(209, 186, 231);
}
#skills li a:hover {
    box-shadow: 0.3vw 0.3vh 0.3vw 0.3vw;
}
.connect {
    justify-content: space-around;
}
.soc ul li {
    margin: 0 2vw;
}
.soc ul li:hover {
    font-size: xx-large;
}
#social {
    margin: 0 2.3vw;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
#social:hover {
    box-shadow: 0.3vw 0.3vh 0.3vw 0.3vw;
}
.contact {
    margin: 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact p {
    font-weight: 600;
    margin: 1vh;
    font-size: 1.5rem;
    color: white;
}
#subj {
    border-radius: 0.4vw;
    height: 3.5vh;
    width: 20vw;
}
#mess {
    border-color: antiquewhite;
    border-radius: 0.4vw;
    height: 3.5vh;
    width: 24vw;
}
.sub {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.4vw;
    border: 0.2vw solid black;
    background-color: rgb(90, 46, 132);
    color: white;
    height: 3.8vh;
    width: 10vw;
}
footer {
    background-color: rgb(63, 99, 141);
    margin: 2vh;
    box-shadow: 0.3vw 0.3vh 0.3vw 0.3vw;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    height: 12vh;
}
footer p {
    font-weight: bolder;
    font-size: 2rem;
    color: white;
}
.copyright {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.copyright p {
    color: white;
}
